h1 {
  color: red;
}

.board {
  background-color: pink;
  height: 80vh;
  border: solid black 3px;
  border-radius: 10px;
}

#btn {
  background-color: green;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  position: relative;
  left: 50%;
  top: 50%;
}
